@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800&display=swap'); 

@tailwind base;




@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


::-webkit-scrollbar {
  width: 8px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #E3E3E3E3;
; 
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgb(138, 12, 12);
  border-radius: 10px;
  transition: all ease-in-out 2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all ease-in-out 2s;
  -moz-transition: all ease-in-out 2s;
  -ms-transition: all ease-in-out 2s;
  -o-transition: all ease-in-out 2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #be1d1d; 
  
  }


  .fit-logo-round {
    animation-name: roundAnimate;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  @keyframes roundAnimate {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
  
  .logo-two-pre {
    animation-name: logoTwo;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  @keyframes logoTwo {
    100% {
      opacity: 1;
    }75% {
      opacity: 0.8;
    }50% {
      opacity: 0.5;
    }
    25% {
      opacity: 0.3;
    }
    
    
    0% {
      opacity: 0.1;
    }
  }
  
  body {
    scroll-behavior: smooth;
    font-family: "Noto Sans Arabic", sans-serif;
  }

  